#LOCAL DEV ONLY, Docker Compose uses Lottery-App/.env 
DB_URL=jdbc:mysql://localhost:3306/lottery_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=
DB_PASSWORD=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=
MAIL_STARTTLS=
SERVER_PORT=
JWT_SECRET=
JWT_EXPIRATION=
JPA_DDL_AUTO=
JPA_SHOW_SQL=
GOOGLE_CLIENT_ID=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FRONTEND_BASE_URL=